@import "../../variables/vars";
.password {
  position: relative;

  .icon {
    position: absolute;
    // top: 1rem;
    // right: 1rem;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      color: white;
      fill: rgba(255, 255, 255, 0.525);
    }
  }
  input[type="password"],
  input[type="text"] {
    &:not(:placeholder-shown) + label {
      //   transform: translate(0%, -100%);
      display: none;
    }
  }
  label {
    padding: 0 $sizeXXS;
    position: absolute;
    background-color: $mainColorLight;
    top: 0;
    left: 0;
    font-size: $sizeXS;
    transform: translate(30px, -50%);
    color: rgba(255, 255, 255, 0.625);
  }
}
